.db-config-label {
  /* color: rgba(0, 0, 0, 0.25); */
  /* background-color: #f5f5f5; */
  /* border: 1px solid #d9d9d9; */
  border-radius: 2px;
  /* box-shadow: none; */
  /* cursor: not-allowed; */
  /* opacity: 1; */
  width: 200px;
  padding: 4px 11px;
}
