.language-switch {
  display: inline-block;
  border: 1px solid #333;
  color: #333;
  box-sizing: border-box;
  min-width: 24px;
  height: 24px;
  line-height: 20px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  opacity: 0.6;
  margin-right: 30px;
  &:hover {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .language-switch {
    margin-right: 0;
  }
}
